[submodule "js_builds_html"]
	path = submodules/js_builds_html
	url = https://github.com/magiwanders/js_builds_html.git
[submodule "submodules/simple_hardware_editor_and_simulator"]
	path = submodules/simple_hardware_editor_and_simulator
	url = https://github.com/magiwanders/simple_hardware_editor_and_simulator.git
[submodule "submodules/paint2pic"]
	path = submodules/paint2pic
	url = https://github.com/magiwanders/paint2pic.git
